<iframe src="https://app.mavenlink.com"></iframe>
<div id="buttons">
  <button id="join-room">join</button>
  <button id="create-room">create</button>
  <button id="fake-room">fake</button>
</div>
<div id="videos"><div id="first-video" class="widget-container"><div class="cube"><div class="flippety video-container"></div><div class="flop"></div></div></div></div>