/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

$video-height: 9em;
$video-width: 16em;

@import "bourbon";

#events {
  position: absolute;
  bottom: 0;
  right: 3em;
  overflow: hidden;
}

#events li {
  @include transition-property(opacity, margin, transform);
  @include transition-duration(1s);
  @include background-image(linear-gradient(to bottom, #f9f9f9, #e9e9e9));

  margin: 0 0 3em 0;
  padding: 1em;

  background: #f9f9f9;
  background-repeat: no-repeat;
  border: 0.125em solid #c0c0c0;
  border-bottom: 0.125em solid #b6b6b6;
  border-top: 0.125em solid #c9c9c9;
  border-radius: 0.4em;

  outline: none;
  list-style: none;
}

#events li.recent {
  @include transform(translate3d(0, 6em, 0));
  margin-top: -6.5em;
  opacity: 0;
}

#events li.sweep {
  opacity: 0;
}

#videos {
  position: absolute;
  bottom: 0;
  left: 0;
  xmargin: 0 0 0 $video-width / 6;
  xpadding: 0em;
  width: 100%;
  xheight: 10em;

  -webkit-perspective: 2048;
  -moz-perspective: 2048;
  perspective: 2048;
  -webkit-transition: padding-left 0.5s;
  margin-left: -($video-width / 2);

}

.videos-1 {
  padding-left: 50%;
}

.videos-2 {
  padding-left: 40%;
}

.videos-3 {
  padding-left: 30%;
}

.videos-4 {
   padding-left: 20%;
}

.videos-5 {
  padding-left: 15%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  height: 100%;
}

/*
.box {
  float: left;
  width:12em;
  height:100%;
  background:#111;
  overflow:hidden;
  -webkit-animation: box-animation 2s ease infinite alternate;
  -moz-animation: box-animation 2s ease infinite alternate;
  animation: box-animation 2s ease infinite alternate;
  margin-right: 1em;
}

.reflection {
  width:200%;
  height:200%;
  -webkit-animation: reflection-animation 2s ease infinite alternate;
  -moz-animation: reflection-animation 2s ease infinite alternate;
  animation: reflection-animation 2s ease infinite alternate;
  background:-webkit-gradient(linear,100% 0%,0% 100%,color-stop(0,rgba(255,255,255,.5)),color-stop(.5,rgba(255,255,255,.1)),color-stop(.5,rgba(255,255,255,0)),color-stop(1,rgba(255,255,255,0)));
}

@-webkit-keyframes box-animation {
  0% { -webkit-transform:rotateY(60deg); }
  100% { -webkit-transform:rotateY(0deg); }
}
@-webkit-keyframes reflection-animation {
  0% { -webkit-transform: translateX(-50%); }
  100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes box-animation {
  0% { -moz-transform:rotateY(60deg); }
  100% { -moz-transform:rotateY(0deg); }
}
@-moz-keyframes reflection-animation {
  0% { -moz-transform: translateX(-50%); }
  100% { -moz-transform: translateX(0%); }
}

@keyframes box-animation {
  0% { transform:rotateY(60deg); }
  100% { transform:rotateY(0deg); }
}
@keyframes reflection-animation {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
*/


/* Set-up */
//body {
//  color: rgb(6, 106, 117);
//  text-transform: uppercase;
//  font-family: sans-serif;
//  font-size: 100%;
//  background: #F4F6F8;
//  padding: 3em 0 0 0;
//  line-height: 62px;
//  -webkit-perspective: 1000px; /* <-NB */
//}

#first-video {
  display: none;
}

.widget-container {
  xmargin-left: auto;
  float: left;
  width: $video-width;
}

/* Container box to set the sides relative to */
.cube {
  xmargin: 0 auto;
  height: ($video-height);

  -webkit-transition: -webkit-transform .33s;
  transition: transform .33s; /* Animate the transform properties */

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety, .flop {
  background: rgb(147, 147, 247);
  border: 0px solid rgba(147, 184, 189, .8);

  -webkit-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  height: $video-height;
}

/* Position the faces */
.flippety {
  -webkit-transform: translateZ(($video-height / 2));
  transform: translateZ(($video-height / 2));
}

.flop {
  -webkit-transform: rotateX(-90deg) translateZ(-($video-height / 2));
  transform: rotateX(-90deg) translateZ(-($video-height / 2));
}

/* Rotate the cube */
.cube:hover {
  -webkit-transform: rotateX(89deg);
  transform: rotateX(89deg); /* Text bleed at 90º */
}